/*Framework*/
.absolute { position: absolute; }

/* Elements */
body{
  background: #ebebeb url('/img/fabric_1.png') repeat;
  color: #333333;
}

#topic .container {
  margin: 32px auto;
  width: 940px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #333333;
  font-weight: bold;
  text-shadow: 0px 1px 1px #ffffff;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 16px;
}

h2 {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 16px;
}

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 16px;
}

a{
  color: #0054ba;
}

a:hover{
  color: #0099b8;
  text-decoration: none;
}

ul {
  list-style: none outside none;
}

ul, ol {
  margin: 0;
}

#action-items li {
  background-color: white;
  font-size: 18px;
  line-height: 31px;
  padding: 16px;
  margin-bottom: 16px;
  -webkit-box-shadow: 0px 0px 3px 0px #bfbfbf;
  -moz-box-shadow: 0px 0px 3px 0px #bfbfbf;
  box-shadow: 0px 0px 3px 0px #bfbfbf;
}

#action-items em { display:none; }
#action-items strong { display:none; }

#action-items li a em{
  background: url('/img/checkbox.gif') no-repeat;
  background-position: bottom left;
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  margin-right: 14px;
}

#action-items li a.visited em{
  background-position: top left;
}

#action-items li a.visited{
  color:#719e00;
}

#action-items li a.visited:hover {
  color: #0099b8;
}

#action-items li a:hover {
  background: url('/img/external-link.gif') no-repeat right 4px;
  padding-right: 22px;
}

#social-buttons { display:none; }
.social-buttons #social-buttons { display:block; }
#social-buttons h2{
  color: #990032;
  margin-top: 24px;
  margin-bottom: 8px;
}

.popularity #action-items strong {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-top: 4px;
}
.popularity #action-items strong em{
	display: inline-block;
	font-weight: bold;
  font-style: normal;
  color: #333333;
}

.relevancy #action-items em {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
.relevancy #action-items em strong{
	font-weight: bold;
  font-style: normal;
  color: #333333;
  display: inline-block;
}

#add-action {
	display: none;
}
.add-action #add-action {
	display: block;
}

#act-now {
  display:none;
  padding-top:40px;
}

.nav .btn.small { padding: 4px 7px 4px; }
.alert-message.small { padding:3px; }
.alert-message.small p { font-size:11px; line-height:1.2em; }
