/*Framework*/
.absolute { position: absolute; }
.right { float:right;}
.bold { font-weight:bold; }


/* z-index*/
#header { z-index: 10000; }
#user   { z-index: 10001; }

/* Top Bar*/
#header {
  height: 70px;

  background-color:#003772;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear, left top, left bottom, from(#196FC8), to(#003772));
  background-image:-moz-linear-gradient(top, #196FC8, #003772);
  background-image:-ms-linear-gradient(top, #196FC8, #003772);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #196FC8), color-stop(100%, #003772));
  background-image:-webkit-linear-gradient(top, #196FC8, #003772);
  background-image:-o-linear-gradient(top, #196FC8, #003772);
  background-image:linear-gradient(top, #196FC8, #003772);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#196FC8', endColorstr='#003772', GradientType=0);

  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.topbar {
  height: auto;
  left: 0;
  position: static;
  right: 0;
  top: 0;
}
.topbar .container { position:relative; }
.topbar h1, .topbar h2 {
  color: white;
  font-weight: bold;
  line-height: 70px;
  margin: 0;
  text-shadow: -1px -1px #666;
}
.topbar h1 {
  font-size: 30px;
}
.topbar h2 {
  font-size: 24px;
  line-height: 54px;
  padding-top: 16px;
  float:left;
}
.topbar h2 .font-normal { font-weight:normal; }

.topbar a { color:black; }
.topbar .nav { float:left; margin-top:14px; }
.topbar .nav li { padding-left:14px; }
.topbar .nav p { color: white; text-shadow: none; }
.topbar .nav .btn {
  padding: 11px 15px;
  text-shadow: 0 1px white;
  color:black;
  font-size:1.5em;
}
.btn.success,.alert-message.success{
  background-color:#82B01D;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear, left top, left bottom, from(#C4E668), to(#82B01D));
  background-image:-moz-linear-gradient(top, #C4E668, #82B01D);
  background-image:-ms-linear-gradient(top, #C4E668, #82B01D);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #C4E668), color-stop(100%, #82B01D));
  background-image:-webkit-linear-gradient(top, #C4E668, #82B01D);
  background-image:-o-linear-gradient(top, #C4E668, #82B01D);
  background-image:linear-gradient(top, #C4E668, #82B01D);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C4E668', endColorstr='#82B01D', GradientType=0);
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color:#82B01D #82B01D #3d773d;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

a.header-link {
  color: #99CAFC;
  text-transform:uppercase;
  font-size:10px;
}

#header a.header-link {
  position: absolute;
  left: 0;
  top: 6px;
}

/* Elements */
body{
  background: #ebebeb url('/img/fabric_1.png') repeat;
  color: #333333;
}

#topic .container { width: 940px; }
#topic .content { padding: 1.5em 0; color: #393939; }

h1, h2, h3, h4, h5, h6, p {
  color: #333333;
  font-weight: bold;
  text-shadow: 0px 1px 1px #ffffff;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 16px;
}

h2 {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 16px;
}

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 16px;
}

a{
  color: #0054ba;
}

a:hover{
  color: #0099b8;
  text-decoration: none;
}

ul {
  list-style: none outside none;
}

ul, ol {
  margin: 0;
}

.action-list li {
  background-color: white;
  font-size: 18px;
  line-height: 31px;
  padding: 16px;
  margin-bottom: 16px;
  -webkit-box-shadow: 0px 0px 3px 0px #bfbfbf;
  -moz-box-shadow: 0px 0px 3px 0px #bfbfbf;
  box-shadow: 0px 0px 3px 0px #bfbfbf;
}

#action-items em { display:none; }
#action-items strong { display:none; }

#action-items li a em{
  background: url('/img/checkbox.gif') no-repeat;
  background-position: bottom left;
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  margin-right: 14px;
}

#action-items li a.visited em{
  background-position: top left;
}

#action-items li a.visited{
  color:#719e00;
}

#action-items li a.visited:hover {
  color: #0099b8;
}

#action-items li a:hover {
  background: url('/img/external-link.gif') no-repeat right 4px;
  padding-right: 22px;
}

#add-action {
  display: none;
}
.add-action #add-action {
	display: block;
}

/* Cohort css */
#social-buttons { display:none; }
.social-buttons #social-buttons { display:block; }
#social-buttons h2{
  color: #990032;
  margin-top: 24px;
  margin-bottom: 8px;
}
.popularity #action-items strong {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-top: 4px;
}
.popularity #action-items strong em{
	display: inline-block;
	font-weight: bold;
  font-style: normal;
  color: #333333;
}
.relevancy #action-items em {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
.relevancy #action-items em strong{
	font-weight: bold;
  font-style: normal;
  color: #333333;
  display: inline-block;
}

#header a.add-action { display:none; }
.testing-2 #header a.add-action,
.save-for-later #header a.add-action { display:block; }

#my-actions-link { display:none; }