<script id='act-now-view' type="text/template" charset="utf-8">
  <div class="topbar-wrapper">
    <div class="topbar content">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Act Now</a></h3>
          <ul class="nav">
            <li>
              <p><%= action.get("title") %></p>
            </li>
            <li><a class='view-index btn small primary' href="#">I've done this</a></li>
            <li><a class='view-index btn small' href="#">Save for Later</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</script>