<script id='act-now-template' type="text/template" charset="utf-8">
  <div class="topbar-wrapper">
    <div class="topbar content">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Act Now</a></h3>
          <ul class="nav">
            <li>
              <p><%= action.escape('title') %></p>
            </li>
            <li><a class='view-index btn small primary' href="#">I have done this</a></li>
            <li><a class='add-action btn small' href="#add-action">Save for Later</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</script>
<script id='action-list-template' type="text/template" charset="utf-8">
  <ul>
    <% topic.actions().each(function(action) { %>
      <li>
        <a href="#act-now/<%= action.get('param') %>">
          <em>.</em> <%= action.get('title') %></a>
          <strong><em><%= action.get('user_count') %></em> people did this</strong>
          <em><strong><%= action.get('relevancy') %></strong> relevancy</em>
      </li>
    <% }); %>
  </ul>
</script>