<script id="header-template" type="text/template" charset="utf-8">
  <div id='header' >
    <div class="topbar-inner">
      <div class="container">
      </div>
    </div>
  </div>
</script>
<script id='act-now-header-template' type="text/template" charset="utf-8">
  <ul class="nav">
    <li><a class='view-index btn success bold' href="#">I did it!</a></li>
    <li><a class='add-action btn' href="#add-action">Save for later</a></li>
  </ul>
  <a class='view-index back-to-all' href="#">Back to all actions</a>
  <h2><%= action.escape('title') %></h2>
</script>
<script id='action-list-template' type="text/template" charset="utf-8">
  <ul>
    <% topic.actions().each(function(action) { %>
      <li>
        <a href="#act-now/<%= action.get('param') %>">
          <em>.</em> <%= action.get('title') %></a>
          <strong><em><%= action.get('user_count') %></em> people did this</strong>
          <em><strong><%= action.get('relevancy') %></strong> relevancy</em>
      </li>
    <% }); %>
  </ul>
</script>