<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}">
    <meta name="author" content="None">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
		<link rel="stylesheet" href="/css/styles.css">
<!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="container">
			<div class="content">
				{{ content }}
	    </div>

    </div> <!-- /container -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/vendor/underscore.min.js"></script>
		<script type="text/javascript" src="/javascripts/vendor/amplify.min.js"></script>
		<script type="text/javascript" src="/javascripts/vendor/backbone.min.js"></script>
		{% include facebook.html %}
		{% include ga.html %}
		{% include mixpanel.html %}
		<script type="text/javascript" src="/javascripts/environment.js"></script>
		<script type="text/javascript" src="/javascripts/cookie.js"></script>
		<script type="text/javascript" src="/javascripts/mixpanel.js"></script>
		<script type="text/javascript" src="/javascripts/cohort.js"></script>
		<script type="text/javascript" src="/javascripts/visited-link.js"></script>

		<script type="text/javascript" charset="utf-8">
		  TA.user     = {
		    mixpanel: TA.Mixpanel.create(mpq),
        cohort  : TA.Cohorts.retrieveOrAssignCohort()
		  };

      TA.user.mixpanel.registerCohort(TA.user.cohort);
      TA.user.mixpanel.trackPageView();

		  $(function() {
		    // Register dom ready triggers here
		    $('#action-items').trackClicks(TA.user.mixpanel);
        $('#action-items a').attr('target', '_blank');
        $('body').addClass(TA.user.cohort.get("className"));
		  });
		</script>
  </body>
</html>
