<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}">
    <meta name="author" content="None">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/styles.css">
<!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div id='header' class="topbar">
      <div class="topbar-inner">
        <div class="container">
        </div>
      </div>
    </div>
    <div id="topic" >
			{{ content }}
    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/vendor/underscore.min.js"></script>
		<script type="text/javascript" src="/javascripts/vendor/amplify.min.js"></script>
		<script type="text/javascript" src="/javascripts/vendor/backbone.min.js"></script>
    {% include facebook.html %}
    {% include ga.html %}
    {% include mixpanel.html %}
    {% include view-templates.html %}
		<script type="text/javascript" src="/javascripts/environment.js"></script>
		<script type="text/javascript" src="/javascripts/cookie.js"></script>
		<script type="text/javascript" src="/javascripts/mixpanel.js"></script>
		<script type="text/javascript" src="/javascripts/track-clicks.js"></script>
		<script type="text/javascript" src="/javascripts/add-action.js"></script>
		<script type="text/javascript" src="/javascripts/models/cohort.js"></script>
		<script type="text/javascript" src="/javascripts/models/action.js"></script>
		<script type="text/javascript" src="/javascripts/models/topic.js"></script>
		<script type="text/javascript" src="/javascripts/routing/action-router.js"></script>
		<script type="text/javascript" src="/javascripts/routing/views.js"></script>

		<script type="text/javascript" charset="utf-8">
		  (function() {
        // If loading content in an iframe, don't set up page js
        if (top.location.pathname != window.location.pathname) return;

  		  TA.user     = {
          mixpanel: TA.Mixpanel.create(mpq),
          cohort  : TA.Cohorts.findOrAssignCohort()
  		  };

        TA.user.mixpanel.registerCohort(TA.user.cohort);
        TA.user.mixpanel.trackPageView();

  		  $(function() {
          TA.ActionRouter.start(TA.user);

  		    // Register dom ready triggers here
          $('#action-items').trackClicks(TA.user);
          $('button.add-action').addAction(TA.user);
          $('body').addClass(TA.user.cohort.get("className"));
  		  });
		  })();
		</script>
  </body>
</html>
