<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}">
    <meta name="author" content="None">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
		<link rel="stylesheet" href="/css/styles.css">
<!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/visited_link.js"></script>
  </head>

  <body>

    <div class="container">
			<div class="content">
				{{ content }}
	    </div>

    </div> <!-- /container -->



		<script type="text/javascript">
    var mpq = [];
    mpq.push(["init", "36ce5f01b98cbe10137e1d222004401a"]);
    (function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";
    b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+
    "//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];
    a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push(
    [f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links",
    "track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<
    d.length;c++){mpq[d[c]]=e(d[c])}})();


		mpq.track_links();

		</script>

		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2233558-26']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>		

		<script>
			$(function(){
			
			var domain_root = document.location.protocol+'//'+document.location.host;
			var all_links = $('a').each(function(index,element){
				if(element.href.substr(0,domain_root.length) !== domain_root)
				{
					element.target = '_blank';
				}
			});
		});
	</script>

	<script>
		var all_links = document.getElementsByTagName('a');
    mpq.track_links(all_links, 'clicked link', {"a": "property"});

	</script>

  </body>
</html>
